* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  width: 100%;
  background-color: tomato;
  padding: 2rem;
  border-bottom: 1px solid #000;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5rem;
  align-items: flex-end;
}

.navbar > nav ul a {
  color: #fff;
  font-weight: 500;
  font-size: 2.5rem;
}

/* hero section */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, gray, black);
}

.hero .hero__heading {
  font-size: 5.5rem;
  color: #fff;
}

.hero h3 {
  font-size: 3rem;
  color: tomato;
  font-weight: 200;
  letter-spacing: 2px;
  font-style: italic;
}
/* Projects */
.project {
  background-color: #45567d;
}

.project .project__heading {
  font-size: 5rem;
  color: #fff;
  text-decoration: underline;
  text-align: center;
  padding: 8rem 0rem 5rem 0rem;
}

.grid {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5rem;
  column-gap: 5rem;
}
